*.generated.md

grammar/testData/psi/**/*
!grammar/testData/psi/**/*.antlrtree.txt

grammar/testData/diagnostics/**/*
!grammar/testData/diagnostics/**/*.antlrtree.txt

grammar/src/main/java/**/*

.gradle
.pages
build
!docs/scripts/build
!scripts/build
